@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --yellow: rgb(213, 236, 3);
    --white:#ffff;
    --dark:#1e1c2a;
    
}
body{
    color:var(--dark);
    background-clip: var(--white);
}
.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--yellow);
    transition: all 0.5s;
    position:fixed;
}
.navegation .logo{
    color: var(--dark);
    font-size: 1.7rem;
    font-weight: 300;
}
.logo span{
    color: var(--white)
}

.navegation ul{
    display:flex;
    align-items: center;
    gap: 5rem;
}
.navegation ul a:hover{
    color:var(--white)
}

.menu{
    cursor:pointer;
}

.menu .bar {
    display:block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background:var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu.bar:nth-child(1)
.menu.bar:nth-child(3){
    background: var(--yellow);
}
.home {
    width:100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}
.home-btn {
    padding: 15px 45px;
    background: var(--yellow);
    color: var(--white);
    border-radius:10px;
    font-weight:700;
    transition: all 0.5s;
}

.home-btn:hover {
    background: #e8ebe4
}

@media(max-width:785px){
    .navegation{
        padding: 18px 20px;
    }
    .menu{
        display:block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(-8px)rotate(45deg);
    }
    .nav-menu{
        position:fixed;
        right: -100%;
        top: 70px;
        width:100%;
        height: 100%;
        flex-direction:column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }

}
/*main*/
.home{
    padding: 100px;
    text-align:center;
    gap: 5rem;

}
.home .text-h4{
    font-size: 15px;
}

.home .text-h1{
    font-size: 2.5rem;
    line-height: 3rem;
}
.home p{
    font-size: 15px;
}

.home-img .img{
    margin-left: 50%;
    transform: translateY(-50%);
   
}